{% extends 'base.html.twig' %}
{% block title "Se connecter" %}
{% block head %}
	<!-- Compiled and minified CSS -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	{% block stylesheets %}
	<link rel="stylesheet" href="/asset/css/login-style.css">

	{% endblock %}

{% endblock %}
{% block body %}
<div class="container mt-4">
	{% for message in app.flashes('mustLogin') %}
		<div class="alert alert-danger">
			{{message}}
		</div>
	{% endfor %}
	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey|trans(error.messageData, 'security') }}
		</div>
	{% endif %}
</div>


<div class="container">
	<div id="login-box">
		<div class="logo">
			{# <img src="https://cdn.instructables.com/F31/7E4H/K16P97W7/F317E4HK16P97W7.LARGE.jpg?auto=webp&frame=1&fit=bounds" class="img img-responsive img-circle center-block"
				width="150" height="150"/> #}
			<h1 class="logo-caption">
				<span class="tweak">L</span>ogin</h1>
		</div>
		<!-- /.logo -->
		<div class="controls">

			<form class="col s12" action="{{ path('login')}}" method="post">
				<label for="username">
					Nom d'utilisateur</label>
				<input type="text" id="username" name="_username" placeholder="Username" class="form-control" value={{last_username}}>

				<label for="password">
					Mot de passe
				</label>
				<input type="password" id="password" name="_password" placeholder="Password" class="form-control">

				<br/>
				<button type="submit" class="btn btn-default btn-block btn-custom">Connexion</button>
			</form>

			<br/> 
			<a href={{path('registration')}}>Pas encore de compte ? Inscrivez-vous ici!</a>
			</div>
		<!-- /.controls -->
	</div>
	<!-- /#login-box -->
</div>
<!-- /.container -->
<div id="particles-js"></div>



 {% endblock %}
