<div class="card mb-4">
	{% if exercice.category.title == 'Java' %}
		<img src="/images/utils/java.jpg " alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif exercice.category.title =='C' %}
		<img src="/images/utils/C.jpg " alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif exercice.category.title =='JavaScript' %}
		<img src="/images/utils/javascript.jpg " alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif exercice.category.title =='Php'%}
		<img src="/images/utils/php.jpg " alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif exercice.category.title =='Python'%}
		<img src="/images/utils/python.jpg " alt="card-img-top" style="width: 100%; height:auto;">
	{% elseif exercice.category.title =='Ocaml' %}
		<img src="/images/utils/ocaml.jpg " alt="card-img-top" style="width: 100%; height:auto;">
	{% else %}
		<img src="/images/utils/fond.png" alt="card-img-top" style="width: 100%; height:auto;">
	{% endif %}

	{#<img src="{{ vich_uploader_asset(exercice,'solutionFile')  }}" alt="card-img-top" style="width: 100%; height:auto;">#}
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('exercice.show', {'id':exercice.id , slug:exercice.slug})}}">
				{{ exercice.title }}
			</a>
			{#<small>{{exercice.category.title}}	</small>#}
			{#{% if app.user  %}
			<span style="color: chartreuse;">
				<i class="fas fa-check-circle"></i>
			</span>
			{% endif %}#}
			
		</h5>
		<p class="card-text">
			{{exercice.description}}
		</p>
		<div class="star-class">
			{% for i in range(1,5) %}
				{% if exercice.difficulte >= i %}
					<span style="width=15px ;  height=15px ; color: rgb(253, 204, 13);">
						<i class="fas fa-star"></i>
					</span>
				{% else %}
					<span style="width=15px ;  height=15px ; color: rgb(253, 204, 13);">
						<i class="far fa-star"></i>
					</span>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
