{% extends 'base.html.twig' %}
{% block title ' Voir tous les exercices '%}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			{{form_start(form)}}
			<div class="form-row align-items-end">
				<div class="col">
					{{ form_row(form.minDifficulte) }}
				</div>
				<div class="col">
					{{ form_row(form.category) }}
				</div>
				<div class="col">
					<div class="form-group">
						<button class="btn btn-primary">Rechercher</button>
					</div>
				</div>
			</div>
			{{form_end(form)}}
		</div>
	</div>
	<div class="container mt-4">
		<h1>
			Voir tous les Exercices
		</h1>
		<div class="row">
			{% for exercice in exercices %}
				<div class="col-md-4">
					{% include( 'exercice/_exercice.html.twig') %}
				</div>
			{% endfor %}
		</div>

		<div class="pagination">
			{{ knp_pagination_render(exercices)}}
		</div>
	</div>
{% endblock %}
