{% extends 'base.html.twig' %}

{% block title user.username %}

{% block body %}
	<ul>
		<li>
			{{user.username}}
		</li>
		<li>
			{{user.email}}
		</li>
		<li>
			{% if is_granted('ROLE_ENSEIGNANT')  %}
				Vous etes un enseignant
			{% else %}
				Vous etes un eleve
			{% endif %}
		</li>
	</ul>
	{% if is_granted('ROLE_ENSEIGNANT')  %}
		<div class="row">
			<div class="col s6 offset-s3">
				<div class="card white">
					<div class="card-content white-text">
						<span class="card-title blue-grey-text darken-1">Vos Exercices</span>
						<table class="blue-grey-text darken-1">
							<thead>
								<tr>
									<th>Titre</th>
									<th>Nb. Participant</th>
								</tr>
							</thead>
							<tbody>
								{% for exercice in exercices %}
									<tr class="accordion-toggle green white-text" data-toggle="collapse" data-target="#accordion1">
										<td>{{exercice.title}}</td>
										<td>2</td>
									</tr>
									{% for resolution in exercice.resolutions %}
										<tr>
											<td colspan="3" class="accordion-body collapse" id="accordion1">
												<table>
													<tr>
														<td>{{resolution.user.username}}</td>
													</tr>
													<tr>
														<td>{{resolution.tentatives}}</td>
													</tr>
												</table>
											</td>
										</tr>
									{% endfor %}
								{% endfor %}


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		

	{% endif %}


{% endblock %}
